@import "../omarchy/current/theme/waybar.css";

* {
  /* background-color: @background; */
  /* color: @foreground; */

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11px;
}

.modules-left {
  margin-left: 5px;
}

.modules-right {
  margin-right: 5px;
}

window#waybar {
  background: transparent;
  margin: 0px;
  padding: 0px;
}

window#waybar.empty #window {
  background: transparent;
  color: transparent;
  padding: 0;
  margin-left: 5px;
  transition: 0.5s;
}

mpris.empty {
  background: red;
}

#workspaces button {
  all: initial;
  padding: 0px;
  margin: 0 5px;
  min-width: 1px;
}
#workspaces button.active {
  background: @foreground;
  color: @background;
  border-radius: 10px;
  padding-top: 0px;
  padding-right: 6px;
  padding-left: 3px;
}

#workspaces button:hover {
  background: alpha(@foreground, 0.7);
  border-radius: 10px;
  padding-top: 0px;
  padding-right: 6px;
  padding-left: 3px;
}

#workspaces button.empty {
  opacity: 0.3;
}

#custom-weather,
#memory,
#mpris,
#window,
#tray-expander,
#workspaces,
#clock,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-screenrecording-indicator,
#custom-update {
  background-color: transparent;

  padding: 5px 5px 5px 5px;
  margin: 5px 0px 5px 0px;
}

#workspaces {
  background-color: alpha(@foreground, 0.3);
}

#mpris:hover,
#window:hover,
#clock:hover,
#backlight:hover,
#cpu:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-screenrecording-indicator:hover,
#custom-update:hover {
  background-color: alpha(@foreground, 0.2);
  transition: 0.7s;
}
#custom-expand-icon {
  margin-right: 7px;
}

#tray,
#memory,
#custom-weather {
  background-color: transparent;
  margin: 5px 5px 5px 5px;
  padding: 0px 2px 0px 2px;
}

#custom-update {
  /* font-size: 10px; */
  padding-left: 8px;
  padding-right: 8px;
  margin: 5px 0px;
  border-radius: 10px;
}

#custom-cava {
  background: transparent;
  color: @foreground;
  margin-right: 10px;
  margin-left: 10px;
}

#memory {
  padding-right: 10px;
}

#clock {
  font-size: 11px;
  padding: 0px 11px 0px 11px;
  margin: 5px 5px;
  background-color: alpha(@foreground, 0.1);
  border-radius: 8px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  border-radius: 10px;
  min-width: 12px;
  font-size: 10px;
  padding: 0px 11px 0px 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-omarchy {
  background-color: alpha(@foreground, 0.2);
  color: @foreground;
  min-width: 10px;

  border-radius: 0px;
  padding: 0 10px;
  margin: 5px;
}

#battery {
  background-color: alpha(@foreground, 0.3);
  color: @foreground;
  min-width: 10px;

  border-radius: 0px;
  padding: 0 9px;
  margin: 5px;
}

#bluetooth {
  background-color: alpha(@foreground, 0.3);
  padding: 0px 5px;
}

#workspaces,
#mpris {
  margin: 5px;
  padding: 6px 5px;
  border-radius: 7px;
}
/* #window,
#mpris {
  border-radius: 10px; 
  padding: 5 10 5 10;
} */

#tray-expander {
  background-color: alpha(@foreground, 0.1);
  padding: 0px 2px 0px 13px;
  margin-left: 4px;
  border-radius: 6px;
}
#backlight {
  background-color: alpha(@foreground, 0.1);
  border-radius: 7px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
}
#network {
  background-color: alpha(@foreground, 0.3);
  border-radius: 7px 0px 0px 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}
#cpu {
  background-color: alpha(@foreground, 0.3);
  border-radius: 0px 7px 7px 0px;
  padding-right: 10px;
  margin-right: 5px;
  padding-left: 10px;
}
#pulseaudio {
  background-color: alpha(@foreground, 0.3);
  padding: 0px 10px 0px 10px;
}

tooltip {
  border-radius: 10px;
  background: @background;
  border: 3px solid alpha(@foreground, 0.5);
}
